.songRow {
  margin-left: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 5px;
}

.songRow:hover {
  cursor: pointer;
  background-color: #2a2a2a;
}

.songRow__album {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.songRow__info {
  margin-left: 20px;
  flex: 0.8;
}

.songRow__info>h1 {
  font-size: 16px;
  margin-bottom: 5px;
}

.songRow__info>p {
  font-size: 14px;
  color: #b3b3b3;
  margin-top: 3px;
}

.songRow__right {
  flex: 0.2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.songRow__right>p {
  font-size: 14px;
  color: #b3b3b3;
}