.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 90px;
  /* Increased height */
  width: 100%;
  background-color: #181818;
  /* Darker background */
  padding: 20px;
  border-top: 1px solid #282828;
  z-index: 100;
}

.footer__left,
.footer__center,
.footer__right {}

.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  max-width: 300px;
}

.footer__center {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  /* Stack controls and progress bar */
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 40%;
}

.footer__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  /* Constrain width of controls */
  margin-bottom: 5px;
}

.footer__playbackBar {
  width: 100%;
}

.footer__right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Right align */
  color: white;
  max-width: 300px;
}


/* Icons */
.footer__albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
  box-shadow: 0 4px 60px rgba(0, 0, 0, .5);
}

.footer__green {
  color: #1ed15e;
}

.footer__songInfo>h4 {
  margin-bottom: 5px;
  font-size: 14px;
}

.footer__songInfo>p {
  font-size: 12px;
  color: gray;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer__icon_small {
  font-size: 18px !important;
  margin-right: 10px;
  color: #b3b3b3;
}

.footer__icon_small:hover {
  color: white;
}

/* Material UI Overrides */
.footer__right .MuiSlider-root {
  color: #1ed15e;
}

.footer__playbackBar .MuiSlider-root {
  color: #b3b3b3;
}

.footer__playbackBar .MuiSlider-root:hover {
  color: #1ed15e;
}